/Main12Firma.class
/Pracownik.class
/Zwykly.class
/Etatowy.class
/Zleceniowy.class
/Klient.class
/Firma.class
/Transakcja.class
/Zakupowy.class
/Zakupy.class
/Sezonowy.class
/MojWyjatek.class
/ZlyZnak.class
